.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.HTF/
.output/
.stack-work/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.o
*.swp
*.prof
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
data/cache
dist
dist-*
src/MtgPure/Model/Object/ToObjectN/Instances.hs
src/MtgPure/Model/Object/ToObjectN/Instances/
